smooks/1.5.1.wso2v4/META-INF/xsd/smooks/edi-1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  *Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~  *
  ~  *WSO2 Inc. licenses this file to you under the Apache License,
  ~  *Version 2.0 (the "License"); you may not use this file except
  ~  *in compliance with the License.
  ~  *You may obtain a copy of the License at
  ~  *
  ~  *http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  *Unless required by applicable law or agreed to in writing,
  ~  *software distributed under the License is distributed on an
  ~  *"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  *KIND, either express or implied.  See the License for the
  ~  *specific language governing permissions and limitations
  ~  *under the License.
  ~  */
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd" xmlns:smooks-edi="http://www.milyn.org/xsd/smooks/edi-1.2.xsd" targetNamespace="http://www.milyn.org/xsd/smooks/edi-1.2.xsd" elementFormDefault="qualified">
	<xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">Smooks EDI Reader Configuration</xs:documentation>
	</xs:annotation>
	<xs:element name="reader" type="smooks-edi:reader" substitutionGroup="smooks:abstract-reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">
    		 	EDI Reader Configuration
    		 	The EDI reader reads and validates a EDI stream and converts it to SAX events that Smooks
    		 	can process.
    		 	A mapping is used to map the EDI segments and fields to a SAX event stream.
    		 	For more information about the mapping model take a look at the
    		 	"http://www.milyn.org/schema/edi-message-mapping-1.0.xsd" schema.
    		 </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="reader">
		<xs:annotation>
			<xs:documentation xml:lang="en">EDI Reader</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="smooks:abstract-reader">
				<xs:attribute name="mappingModel" type="xs:string">
					<xs:annotation>
						<xs:documentation xml:lang="en">
			    		 	The URI of the EDI mapping model file of the EDI model.
			    		 	For more information about the mapping model take a
			    		 	look at the "http://www.milyn.org/schema/edi-message-mapping-1.0.xsd"
			    		 	schema.
			    		 </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="encoding" type="xs:string" use="optional" default="UTF-8">
					<xs:annotation>
						<xs:documentation xml:lang="en">The character encoding. Default "UTF-8"</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="validate" type="xs:boolean" use="optional" default="true">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies whether to perform validation or not when parsing a value-node with a specific type. Default is true.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
