smooks/1.5.1.wso2v4/META-INF/xsd/smooks/fragment-routing-1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  *Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~  *
  ~  *WSO2 Inc. licenses this file to you under the Apache License,
  ~  *Version 2.0 (the "License"); you may not use this file except
  ~  *in compliance with the License.
  ~  *You may obtain a copy of the License at
  ~  *
  ~  *http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  *Unless required by applicable law or agreed to in writing,
  ~  *software distributed under the License is distributed on an
  ~  *"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  *KIND, either express or implied.  See the License for the
  ~  *specific language governing permissions and limitations
  ~  *under the License.
  ~  */
  -->

<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/fragment-routing-1.4.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-fragment-routing="http://www.milyn.org/xsd/smooks/fragment-routing-1.4.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Fragment Routing Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="serialize" type="smooks-fragment-routing:serialize" substitutionGroup="smooks:abstract-resource-config">
		<xs:annotation>
	   		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
	   		</xs:documentation>
	   	</xs:annotation>
    </xs:element>

    <xs:complexType name="serialize">
    	<xs:annotation>
    		<xs:documentation xml:lang="en">
	   			Fragment Serializer.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="smooks:element-visitor">
    			<xs:attribute name="fragment" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The fragment to be serialized.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
    			<xs:attribute name="bindTo" type="xs:string" use="required">
   					<xs:annotation>
			    		<xs:documentation xml:lang="en">
							The Bean Context beanID of the serialized fragment.
			    		</xs:documentation>
			    	</xs:annotation>
   				</xs:attribute>
   				<xs:attribute name="omitXMLDeclaration" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Omit the XML declaration from the start of the serialized fragment.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
   				<xs:attribute name="childContentOnly" type="xs:boolean" use="optional" default="false">
    				<xs:annotation>
			    		<xs:documentation xml:lang="en">
			    			Only serialize the child content of the targeted element i.e. omit the targeted element itself.  Default false.
			    		</xs:documentation>
			    	</xs:annotation>
    			</xs:attribute>
                <xs:attribute name="retain" type="xs:boolean" use="optional" default="false">
                 <xs:annotation>
                     <xs:documentation xml:lang="en">
                         Retain the generated bean instance after the creating fragment has been processed.  Default false.
                     </xs:documentation>
                 </xs:annotation>
             </xs:attribute>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
</xs:schema>