smooks/1.5.1.wso2v3/META-INF/xsd/smooks/validation-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  *Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~  *
  ~  *WSO2 Inc. licenses this file to you under the Apache License,
  ~  *Version 2.0 (the "License"); you may not use this file except
  ~  *in compliance with the License.
  ~  *You may obtain a copy of the License at
  ~  *
  ~  *http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  *Unless required by applicable law or agreed to in writing,
  ~  *software distributed under the License is distributed on an
  ~  *"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  *KIND, either express or implied.  See the License for the
  ~  *specific language governing permissions and limitations
  ~  *under the License.
  ~  */
  -->

<xs:schema targetNamespace="http://www.milyn.org/xsd/smooks/validation-1.0.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="http://www.milyn.org/xsd/smooks-1.1.xsd"
           xmlns:smooks-validation="http://www.milyn.org/xsd/smooks/validation-1.0.xsd">

    <xs:import namespace="http://www.milyn.org/xsd/smooks-1.1.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">Smooks Validation Configuration</xs:documentation>
    </xs:annotation>


    <xs:element name="rule" substitutionGroup="smooks:abstract-resource-config">
    	<xs:annotation>
    		 <xs:documentation xml:lang="en">
    		 </xs:documentation>
    	</xs:annotation>
    	<xs:complexType>
        	<xs:complexContent>
                <xs:extension base="smooks:element-visitor">
                <xs:attribute name="executeOn" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The fragment that this validator should operate on. 
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="executeOnNS" type="xs:anyURI">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Namespace for the "executeOn" attribute.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The name of the rule defined in Smooks. This name matches the ruleBase elements
                            name attribute and tell Smooks to use that rule for validation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="onFail" type="smooks-validation:onFail" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Validation failure categorization.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                </xs:extension>
        	</xs:complexContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="onFail">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"></xs:enumeration>
            <xs:enumeration value="WARN"></xs:enumeration>
            <xs:enumeration value="ERROR"></xs:enumeration>
            <xs:enumeration value="FATAL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>